.titulo-servicios{
    padding: 15rem 100px 0rem 100px;
    align-items: center;
}

.titulo-servicios h2 {
    color: #3CB371; /* El color verde de la imagen */
    margin-bottom: 1rem; /* Espaciado inferior del título */
  }