.hero {
  padding: 15rem 100px 0rem 100px;
  position: relative; /* Para posicionar los controles de manera absoluta */
}

.mask {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative; /* Asegura que los controles se posicionen dentro del contenedor de la imagen */
}

.into-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  animation: fadeInOut 2s ease-in-out infinite alternate;
}

.slide-controls {
  position: absolute;
  top: 50%; /* Coloca las flechas en el centro vertical de la imagen */
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Asegura que las flechas estén dentro de la imagen */
  z-index: 1; /* Para que las flechas queden sobre la imagen */
}

.slide-controls .slide-control {
  /* background: rgba(0, 0, 0, 0.5);
  border-radius: 20px; */
  color: white;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-controls .slide-control:focus {
  outline: none;
}

.slide-controls .slide-control:hover {
  opacity: 0.8;
}

@media screen and (max-width: 881px) {
  .hero {
    padding: 2rem 25px 2rem 25px;
    position: relative; /* Para posicionar los controles de manera absoluta */
  }
  .hero .content h1 {
    font-size: 3rem;
  }

  .hero .content p {
    font-size: 1.4rem;
  }

  .into-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    animation: fadeInOut 2s ease-in-out infinite alternate;
  }
  .slide-controls {
    top: 40%;
    padding: 0 10px;
  }
}
