.subtitle-container {
    max-width: 7100px;
    margin: 0 auto; /* Centra el subtítulo */
    padding-top: 0rem; /* Ajusta el espaciado entre el grupo de miembros y el subtítulo */
    padding: 1rem 100px 1rem 100px;
    /* margin-top: 0px; */
  }

  .subtitle-container h2 {
    color: #3CB371; /* El color verde de la imagen */
    margin-bottom: 1rem; /* Espaciado inferior del título */
  }

  .subtitle-container p {
    color: #666666; /* El color morado-azul que se vio en la imagen */
    line-height: 1.5;
  }

 @media screen and (max-width: 881px) {
      .subtitle-container {
        padding: 0rem 25px 0rem 25px;
      }
    }