.subtitle-container {
    color: rgba(61, 62, 150, 0.85);
    max-width: 7100px;
    margin: 0 auto; /* Centra el subtítulo */
    padding-top: 0rem; /* Ajusta el espaciado entre el grupo de miembros y el subtítulo */
    padding: 5rem 10px 5rem 100px;
    margin-top: 20px;
  }

 @media screen and (max-width: 881px) {
      .subtitle-container {
        padding: 0rem 25px 0rem 25px;
      }
    }