.texto-reserva {
    /* padding: 15rem 0px 0rem 0px; */
    padding: 15rem 120px 0rem 120px;
    /* margin-bottom: 30px; */
    display: flex;
    flex-direction: column; /* establece la dirección de los elementos en columna */
    max-width: 1100px;
  }

  .texto-reserva h2 {
      color: #3CB371; 
      margin-bottom: 2rem; 
    }

    .texto-reserva p {
      color: #666666; /* El color morado-azul que se vio en la imagen */
      line-height: 0.5;
      margin-bottom: 10px;
    }

    @media screen and (max-width: 881px) {
      .texto-reserva {
        padding: 2rem 25px 0rem 25px;
      }

    }